{% set serviceTitle = [
  '1С-Отчетность',
  '1С:Контрагент',
  '1С-ЭДО',
  '1С-ОФД',
  '1С-ТОВАРЫ',
  '1С-Коннект',
  '1С-ЭТП',
  '1СПАРК Риски',
  '1С-ТОВАРЫ',
  '1С-Коннект',
  '1С-ЭТП',
  '1СПАРК Риски',
  '1С-ТОВАРЫ',
  '1С-Коннект',
  '1С-ЭТП',
  '1СПАРК Риски',
  '1С-ТОВАРЫ',
  '1С-Коннект',
  '1С-ЭТП',
  '1СПАРК Риски',
  '1С-ТОВАРЫ',
  '1С-Коннект',
  '1С-ЭТП',
  '1СПАРК Риски',
  '1С-ТОВАРЫ',
  '1С-Коннект',
  '1С-ЭТП',
  '1СПАРК Риски'
] 
%}

{% set serviceText = [
  'Предоставление отчетности ФНС, ПФР, ФСС, Росстат и т.д. через Интернет',
  'Автоматическое заполнение реквизитов и проверка контрагентов',
  'Обмен электронными документами из программ 1С',
  'Подключение онлайн-касс к обмену чеками с ФНС в соответствие с 54-ФЗ',
  'Автоматизация управления магазином',
  'Сервис оперативной удаленной поддержки клиентов',
  'КЭП для участия в торгах',
  'Доступ к информационно-аналитической системе СПАРК из 1С',
  'Автоматизация управления магазином',
  'Сервис оперативной удаленной поддержки клиентов',
  'КЭП для участия в торгах',
  'Доступ к информационно-аналитической системе СПАРК из 1С',
  'Автоматизация управления магазином',
  'Сервис оперативной удаленной поддержки клиентов',
  'КЭП для участия в торгах',
  'Доступ к информационно-аналитической системе СПАРК из 1С',
  'Автоматизация управления магазином',
  'Сервис оперативной удаленной поддержки клиентов',
  'КЭП для участия в торгах',
  'Доступ к информационно-аналитической системе СПАРК из 1С',
  'Автоматизация управления магазином',
  'Сервис оперативной удаленной поддержки клиентов',
  'КЭП для участия в торгах',
  'Доступ к информационно-аналитической системе СПАРК из 1С',
  'Автоматизация управления магазином',
  'Сервис оперативной удаленной поддержки клиентов',
  'КЭП для участия в торгах',
  'Доступ к информационно-аналитической системе СПАРК из 1С',
] 
%}

{% set servicePrice = [
  'от 1 400 р.',
  'от 900 р.',
  'от 4 500 р.',
  'от 800 р.',
  'от 290 р.',
  'от 990 р.',
  'от 1 760 р.',
  'от 600 р.',
  'от 290 р.',
  'от 990 р.',
  'от 1 760 р.',
  'от 600 р.',
  'от 290 р.',
  'от 990 р.',
  'от 1 760 р.',
  'от 600 р.',
  'от 290 р.',
  'от 990 р.',
  'от 1 760 р.',
  'от 600 р.',
  'от 290 р.',
  'от 990 р.',
  'от 1 760 р.',
  'от 600 р.',
  'от 290 р.',
  'от 990 р.',
  'от 1 760 р.',
  'от 600 р.',
] 
%}

<div class="service-list">
	<div class="uk-grid uk-grid-collapse uk-child-width-1-4@m" uk-grid>
		{% for i in 1..28 %}
			<div class="service-list__item-wrapper">
				{% if i <= 8 %}
					<div class="service-card">
						<div class="service-card__img">
							<svg width="60px" height="55px" class="">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/media/service/service-sprite.svg#service-icon-{{i}}"></use>
							</svg>
						</div>
						<div class="service-card__link">
							<a href="" class="icon-chevron-right icon-position-center">{{serviceTitle[i - 1]}}</a>
						</div>
						<div class="service-card__text">{{serviceText[i - 1]}}</div>
						<div class="service-card__price">
							<span class="fill-full-yellow">
								<span class="service-card__price-val">{{servicePrice[i - 1]}}</span>
								/ в месяц
							</span>
						</div>
					</div>

				{% else %}

					<div class="service-card uk-hidden">
						<div class="service-card__img">
							<svg width="60px" height="55px" class="">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/media/service/service-sprite.svg#service-icon-{{i}}"></use>
							</svg>
						</div>
						<div class="service-card__link">
							<a href="" class="icon-chevron-right icon-position-center">{{serviceTitle[i - 1]}}</a>
						</div>
						<div class="service-card__text">{{serviceText[i - 1]}}</div>
						<div class="service-card__price">
							<span class="fill-full-yellow">
								<span class="service-card__price-val">{{servicePrice[i - 1]}}</span>
								/ в месяц
							</span>
						</div>
					</div>
				{% endif %}

			</div>
		{% endfor %}
	</div>
</div>
